body{
  width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background: #FFC300;
	color: #fff;
	font-size: 18px;
	text-align:center;
	letter-spacing:1.2px;
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
}

h1{
	background-color: #C70039;
	font-size: 30px;
}

h2{
	background-color:#8BD6F2;
	font-size: 25px;
	top: 30%;
	background-color:Tomato;
}
  

.container{
  position: absolute;
  top: 60%;
  left: 50%;
  margin: -200px ;
  width:400px;
  height:100%;
  border: 2px solid Tomato;
  
}

.form-group{
  background-color: #DE8939;
}
  

.heading{
  text-align: center;
  color:#FFFFFF;
  height: 200px;
  width: 600px;
}

#inp{
  width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
  	height: 100px;
  	width: 500px;
  	background-color: powderblue;

}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

#btn{
  box-shadow: none;
  border: 0 !important;
  background: #1c271c;
  background-image: none;
  width: 150px;
  height: 40px;
  margin: 0;
  margin-top: 20px;
  color: #fff;
  cursor: pointer;
  border-radius: .25em;
  text-align: center;
}

.form{
	text-align: centre;
}
.output{
	text-align: center;
	margin-top: 150px;
	fontsize: 3px;
}


	